*~
*.o
*.lo
*.la
.deps
.libs
config.sub
config.guess
config.log
config.status
config.h*
configure
install-sh
intltool-*
libtool
ltmain.sh
mkinstalldirs
depcomp
missing
autom4te.cache
autogen.err
shave
shave-libtool
stamp-*
aclocal.m4
Makefile
Makefile.in
gnome-doc-utils.make
help/gnote-C.omf
data/gnote.desktop
data/gnote.schemas
src/gnote
src/trietest
src/stringtest
src/notetest
src/dttest
src/libgnote.a
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/gnome-doc-utils.m4
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/*.gmo
