*~
*.o
*.lo
*.la
*.tar.bz2
*.tar.gz
*.desktop
help/cs/*.mo
help/cs/*.page
help/cs/*.stamp
help/da/*.mo
help/da/*.page
help/da/*.stamp
help/de/*.mo
help/de/*.page
help/de/*.stamp
help/el/*.mo
help/el/*.page
help/el/*.stamp
help/es/*.mo
help/es/*.page
help/es/*.stamp
help/fr/*.mo
help/fr/*.page
help/fr/*.stamp
help/hu/*.mo
help/hu/*.page
help/hu/*.stamp
help/lt/*.mo
help/lt/*.page
help/lt/*.stamp
help/pl/*.mo
help/pl/*.page
help/pl/*.stamp
help/ru/*.mo
help/ru/*.page
help/ru/*.stamp
help/sl/*.mo
help/sl/*.page
help/sl/*.stamp
help/sv/*.mo
help/sv/*.page
help/sv/*.stamp
help/uk/*.mo
help/uk/*.page
help/uk/*.stamp
help/zh_CN/*.mo
help/zh_CN/*.page
help/zh_CN/*.stamp
data/appdata/org.gnome.gnote.appdata.xml
data/org.gnome.gnote.gschema.valid
data/org.gnome.gnote.gschema.xml
data/org.gnome.gnote.panel-applet
data/org.gnome.gnote.panel-applet.in
data/org.gnome.panel.applet.GnoteAppletFactory.service
data/org.gnome.Gnote.desktop.in
data/gnote.schemas
data/org.gnome.Gnote.service
src/*.log
src/*.trs
src/addins/*/*.desktop.in
src/dttest
src/fileinfotest
src/filestest
src/gnote
src/gnote-applet
src/gnotesyncclienttest
src/gnoteunittests
src/libgnote.a
src/notetest
src/notemanagertest
src/stringtest
src/syncmanagertest
src/trietest
src/uritest
src/xmlreadertest
src/addins/addins.mk
src/addins/fixedwidth/fixedwidth.so
m4/glib-gettext.m4
m4/gsettings.m4
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/pkg.m4
m4/yelp.m4
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/*.pot
